.header {
    background-color: $color-background-dark;
    color: $color-base-light;

    .header__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1em 0;

        .header__title {
            color: $color-base-light;

            H1 {
                margin: 0;
            }
        }

        .header-menu {
            display: flex;
            align-items: center;

            & > * {
                margin-left: 2em;
            }

            A {
                color: $color-base-light;

                &:hover {
                    color: lighten($color-base-light, 10%);
                }
            }

            .header-menu__login {
                display: flex;
                align-items: center;

                .login__name {
                    margin-right: 0.5rem;
                }

                .login__avatar {
                    border-radius: 50%;
                    width: 2.5em;
                    height: 2.5em;
                }
            }
        }
    }
}
