.header {
    background-color: $color-base-background;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__title {
    color: $color-base;

    H1 {
        margin: 0;
    }
}
