.list-body {
    display: flex;
    flex-wrap: wrap;

    .list-item {
        flex: 0 0 23%;
        margin: 1%;

        &.user-card {
            background: rgb(255, 255, 255);
            padding: 2rem 1rem;
            border: 1px solid $color-border;
            text-align: center;
            position: relative;
            border-radius: $border-radius;

            A.edit-card {
                position: absolute;
                right: 1rem;
                top: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid $border-color;
                margin: 0 0 0 0.3rem;
                opacity: 0.6;
                color: $color-green;
                transition: 1s all ease;
                font-size: 1rem;

                &:hover {
                    background-color: $color-green;
                    border: 1px solid $color-green;
                    opacity: 1;
                    transition: 0.3s all ease;
                    color: rgb(255, 255, 255);
                }
            }

            .profile {
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                margin-bottom: 1.5rem;
            }
            H5 {
                margin: 0 0 1rem 0;
                font-size: 1.8rem;
            }
            H6 {
                margin: 0 0 1rem 0;
                font-size: 1.4rem;
                font-weight: 300;

                &.position {
                    color: #8796af;
                }
            }
            .list-group {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
