.page-title {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2rem;

    .page-title__actions {

    }

    @include media(phone) {
        flex-direction: column;
    }
}
