<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Takeoff API</title>
</head>
<body>

<h1>Takeoff API</h1>

<h3>Register new API user</h3>
    <ul>
        <li><b>Create new user</b><br>POST /users<br>
            {
            "name": "API user",
            "email": "apiuser@apiuser.com",
            "password": "apiUserPassword"
            }
            <br>
            <br>
            Then authenticate with Bearer <i>authToken</i>
        </li>
        <li><b>Update user</b><br>PATCH /users/me<br>
            {
            "name": "User Name"
            }
        </li>
        <li><b>Delete user</b><br>DELETE /users/me</li>
    </ul>

<h3>Use API</h3>
    <ul>
        <li><b>Create contact</b><br>POST /contacts<br>
            {
            "name": "John Doe",
            "email": "doe.john@gmail.com",
            "phone": "+7 904 892 3499",
            "position": "Manager",
            }
        </li>
        <li><b>Get contacts list</b><br>GET /contacts</li>
        <li><b>Update contact</b><br>PATCH /contacts/&lt;_id&gt;<br>
            {
            "phone": "+7 904 892 3494",
            }
        </li>
        <li><b>Get contact by id</b><br>GET /contacts/&lt;_id&gt;</li>
        <li><b>Delete contact by id</b><br>DELETE /contacts/&lt;_id&gt;</li>
    </ul>

</body>
</html>
